.mo_tfa_outer {
  background-color: #e0e0d8 !important;
  width: 97% !important;
  padding: 2% !important;
  border-radius: 4px;
  height: 100%;
  overflow: auto;

}

.mo_tfa_main {
  border-radius: 8px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  min-height: 200px;
  border-top: 2px solid #898989a3;
  border-bottom: 15px solid #898989a3;
  margin: 5%;

}

.mo_tfa_main_big {
  border-radius: 8px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  margin: 20px 25% 0% 25%;
  min-height: 200px;
  padding: 10px 2% 4% 2%;
  border-top: 2px solid #20b2aa;
  border-bottom: 15px solid #20b2aa;
}

.mo_tfa_main_medium {
  border-radius: 8px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  margin: 20px 25% 0% 25%;
  min-height: 150px;
  padding: 10px 2% 0% 2%;
  border-top: 2px solid #20b2aa;
  border-bottom: 15px solid #20b2aa;
}

.mo_tfa_container {
  min-height: 100% !important;
  background: #e0e0d8 !important;
}

.mo_tfa_title {
  padding: 2%;
  font-size: 27px;
  color: #333030;
  font-family: ui-sans-serif;
  font-weight: 600;
}

.mo2f-text-center {
  text-align: center;
}

.mo2f-info {
  margin: 12px 0px;
  /* font-family: Helvetica Neue, Helvetica, Arial, sans-serif; */
  font-family: ui-sans-serif;
}

.mo_tfa_inline_step_1_table {
  padding: 10%;
}

.mo_tfa_inline_step_1_table .input {
  height: 25px;
  width: 200px !important;
  border-radius: 3px;
  border: 1px solid black;
  padding: 6px;

}

.mo_tfa_input {
  height: 25px;
  width: 230px;
  border-radius: 3px;
  border: 1px solid black;
  padding-left: 6px;
}

.mo_tfa_input_kba {
  height: 25px;
  width: 275px;
  border-radius: 3px;
  border: 1px solid black;
  padding-left: 6px;
}

/*
* boot starp css
*
*/
.btn {
  display: inline-block;
  padding: 4px 22px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  text-decoration: none
}


.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px
}

.btn:hover,
.btn:focus,
.btn.focus {

  text-decoration: none
}

.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .65
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open>.dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad
}

.btn-default:active,
.btn-default.active,
.open>.dropdown-toggle.btn-default {
  background-image: none
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #fff;
  border-color: #ccc
}

.btn-default .badge {
  color: #fff;
  background-color: #333
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #286090;
  border-color: #204d74
}

.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
  background-image: none
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #337ab7;
  border-color: #2e6da4
}

.btn-primary .badge {
  color: #337ab7;
  background-color: #fff
}

.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c
}

.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active,
.open>.dropdown-toggle.btn-success {
  color: #fff;
  background-color: #449d44;
  border-color: #398439
}

.btn-success:active,
.btn-success.active,
.open>.dropdown-toggle.btn-success {
  background-image: none
}

.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #5cb85c;
  border-color: #4cae4c
}

.btn-success .badge {
  color: #5cb85c;
  background-color: #fff
}

.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da
}

.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active,
.open>.dropdown-toggle.btn-info {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc
}

.btn-info:active,
.btn-info.active,
.open>.dropdown-toggle.btn-info {
  background-image: none
}

.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #5bc0de;
  border-color: #46b8da
}

.btn-info .badge {
  color: #5bc0de;
  background-color: #fff
}

.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active,
.open>.dropdown-toggle.btn-warning {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512
}

.btn-warning:active,
.btn-warning.active,
.open>.dropdown-toggle.btn-warning {
  background-image: none
}

.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #f0ad4e;
  border-color: #eea236
}

.btn-warning .badge {
  color: #f0ad4e;
  background-color: #fff
}

.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active,
.open>.dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925
}

.btn-danger:active,
.btn-danger.active,
.open>.dropdown-toggle.btn-danger {
  background-image: none
}

.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #d9534f;
  border-color: #d43f3a
}

.btn-danger .badge {
  color: #d9534f;
  background-color: #fff
}

.btn-link {
  font-weight: 400;
  color: #337ab7;
  border-radius: 0
}

.btn-link,
.btn-link:active,
.btn-link.active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none
}

.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent
}

.btn-link:hover,
.btn-link:focus {
  color: #23527c;
  text-decoration: underline;
  background-color: transparent
}

.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #777;
  text-decoration: none
}

.btn-lg,
.btn-group-lg>.btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px
}

.btn-sm,
.btn-group-sm>.btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px
}

.btn-xs,
.btn-group-xs>.btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px
}

.btn-block {
  display: block;
  width: 100%
}

.btn-block+.btn-block {
  margin-top: 5px
}

input[type=submit].btn-block,
input[type=reset].btn-block,
input[type=button].btn-block {
  width: 100%
}



.btn-group,
.btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle
}

.btn-group>.btn,
.btn-group-vertical>.btn {
  position: relative;
  float: left
}

.btn-group>.btn:hover,
.btn-group-vertical>.btn:hover,
.btn-group>.btn:focus,
.btn-group-vertical>.btn:focus,
.btn-group>.btn:active,
.btn-group-vertical>.btn:active,
.btn-group>.btn.active,
.btn-group-vertical>.btn.active {
  z-index: 2
}

.btn-group .btn+.btn,
.btn-group .btn+.btn-group,
.btn-group .btn-group+.btn,
.btn-group .btn-group+.btn-group {
  margin-left: -1px
}

.btn-toolbar {
  margin-left: -5px
}

.btn-toolbar .btn-group,
.btn-toolbar .input-group {
  float: left
}

.btn-toolbar>.btn,
.btn-toolbar>.btn-group,
.btn-toolbar>.input-group {
  margin-left: 5px
}

.btn-group>.btn:not :first-child:not :last-child:not .dropdown-toggle {
  border-radius: 0
}

.btn-group>.btn:first-child {
  margin-left: 0
}

.btn-group>.btn:first-child:not :last-child:not .dropdown-toggle {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0
}

.btn-group>.btn:last-child:not :first-child,
.btn-group>.dropdown-toggle:not :first-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0
}

.btn-group>.btn-group {
  float: left
}

.btn-group>.btn-group:not :first-child:not :last-child>.btn {
  border-radius: 0
}

.btn-group>.btn-group:first-child>.btn:last-child,
.btn-group>.btn-group:first-child>.dropdown-toggle {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0
}

.btn-group>.btn-group:last-child>.btn:first-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0
}

.btn-group .dropdown-toggle:active,
.btn-group.open .dropdown-toggle {
  outline: 0
}

.btn-group>.btn+.dropdown-toggle {
  padding-right: 8px;
  padding-left: 8px
}

.btn-group>.btn-lg+.dropdown-toggle {
  padding-right: 12px;
  padding-left: 12px
}

.btn-group.open .dropdown-toggle {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}

.btn-group.open .dropdown-toggle.btn-link {
  -webkit-box-shadow: none;
  box-shadow: none
}

.btn .caret {
  margin-left: 0
}

.btn-lg .caret {
  border-width: 5px 5px 0;
  border-bottom-width: 0
}

.dropup .btn-lg .caret {
  border-width: 0 5px 5px
}

.btn-group-vertical>.btn,
.btn-group-vertical>.btn-group,
.btn-group-vertical>.btn-group>.btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%
}

.btn-group-vertical>.btn-group>.btn {
  float: none
}

.btn-group-vertical>.btn+.btn,
.btn-group-vertical>.btn+.btn-group,
.btn-group-vertical>.btn-group+.btn,
.btn-group-vertical>.btn-group+.btn-group {
  margin-top: -1px;
  margin-left: 0
}

.btn-group-vertical>.btn:not :first-child:not :last-child {
  border-radius: 0
}

.btn-group-vertical>.btn:first-child:not :last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0
}

.btn-group-vertical>.btn:last-child:not :first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px
}

.btn-group-vertical>.btn-group:not :first-child:not :last-child>.btn {
  border-radius: 0
}

.btn-group-vertical>.btn-group:first-child:not :last-child>.btn:last-child,
.btn-group-vertical>.btn-group:first-child:not :last-child>.dropdown-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0
}

.btn-group-vertical>.btn-group:last-child:not :first-child>.btn:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0
}

.mo_auth_new_2fa {
  width: 50% !important;
}

.mo2f-message {

  font-family: ui-sans-serif;
  padding: 10px 10px 10px 50px;
  background-repeat: no-repeat;
  margin: 7px 0px;
  background-position: 8px 8px;
  border: 1px solid;
  border-radius: 2px;
}

.mo2f-message-status {
  background-color: #f8fff0;
  color: #234600;
  /* background-image: url(../../../../../../misc/message-24-ok.png); */
  border-color: #be7;
  font-size: 12px;
}

.mo2f-message-error {
  background-color: white;
  color: red;
  background-image: url(../../../../../../misc/message-24-error.png);
  font-size: 12px;
}

.mo_h3 {
  display: block;
  font-size: 1.17em !important;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.btn-reset {
  color: #ffff !important;
  background-color: #888888 !important;
  border-color: #4e4949 !important;
}

.mo_tfa_text {
  font-family: ui-sans-serif;
}
.mo_tfa_red{
  color:red;
}
.mo_tfa_login_options {
  cursor: pointer;
}

.forgot_phm {
  color: #377eff;
  font-family: ui-sans-serif;
  margin-right: 25%;
  float: left;
}

.btn-reset:hover,
.btn-reset:focus,
.btn-reset.focus,
.btn-reset:active,
.btn-reset.active,
.open>.dropdown-toggle.btn-reset {
  color: #ffff;
  background-color: #4e4949 !important;
  border-color: #4e4949 !important;
}

.mo_tfa_methods {
  display: flex;
  justify-content: center;
}

.mo_tfa_custom {
  border-radius: var(--radius);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  border: 1px solid #CCCCCC;
  border-top: 4px solid #20b2aa;
  border-bottom: 4px solid #20b2aa;
  margin: 5%;
  min-height: 314px;
  min-width: 110%;
  margin-top: 0px;

}

.mo_btn_custom {
  color: #fff;
  background-color: #2384d3;
  border-color: #2384d3;
  color: white;
}

.mo_btn_custom:hover {
  color: #fff;
  background-color: #2384d3;
  border-color: #2384d3;
  top: 310px;
  left: 1500px;
  outline: 0px;
  z-index: 2;
  border: 0;
}

.mo_btn_custom:focus,
.mo_btn_custom.focus {
  box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #2384d3;
  border-color: #2384d3;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}

.mo_tfa_cursor {
  cursor: pointer;
}

.mo_tfa_border {
  border-bottom: 0px;
}

.mo_tfa_font {
  font-weight: 500;
}

.mo_tfa_otp_btn {
  background-color: #43b38a;
  border-color: #43b38a
}

.mo_tfa_passcode {
  width: 80%;

}

.mo_tfa_back_btns {
  text-align: right;

}

.mo_tfa_forgot_phn {
  color: #377eff;
  font-family: ui-sans-serif;
  float: left;

}

.mo_tfa_remeb_device {
  font-weight: 500;
  color: dimgrey;
  font-family: ui-sans-serif;
}

.mo_tfa_padding {
  padding: 2px;

}

.mo_tfa_container {
  align-content: center;

}

.mo_tfa_backup_que {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

}



@media (prefers-color-scheme: dark) {
  .mo_tfa_custom {
    background-color: #0f151d;
    color: white;
    border-color: #545454;
  }

  .mo_tfa_title {
    color: white;
  }

  .mo_tfa_dark_site {
    background-color: #171c24 !important;
    color: white !important;
    border-color: white;
  }

  .mo_tfa_google_auth {
    background-color: #0f151d !important;
    color: white;
    border-color: #545454;
  }

  .mo_tfa_forgot_phn {
    margin-left: 20px;
  }
  .mo_tfa_container{
    background-color: #171c24 !important;
    color: white !important;
  }
}

@media (max-width: 768px) {

  .offset-sm-4 {
    margin-left: 18.333333%;
  }

  .col-sm-4 {
    width: 55.333333%;
  }

  .mo_tfa_back_btns {
    justify-content: center;
    display: flex;
  }

  .mo_tfa_text {
    margin-right: 20px;
  }
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
  margin-left:25%
}
td, th {
  border: 1px solid #131313;
  text-align: center;
  padding: 8px;
}
.mo_button1 {
  background-color: #d02828;
  border-radius: 4px;
  transition-duration: 0.4s;
  padding: 7px;
  border: 1px solid #ee0c0c;
}
a:link {
  text-decoration: none;
}
.mo_button1:hover {
  background: #ee0c0c;
  color: white;
}